<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Galcon is an awesome high-paced multi-player galactic arcade-strategy game. You send swarms of ships from planet to planet to take over the galaxy.">
        <meta name="keywords" content="Galcon,risk, Strategy, Games, Game, Multi-player, ships, planets, galaxy, conquest, iPhone, iPod Touch, pc, windows, mac, osx, linux">
        <link rel="alternate" type="application/rss+xml" title="Galcon RSS Feed" href="http://www.galcon.com/news/feed/" />
        <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css" />
        <title>{% block title %}Galcon{% endblock %}</title>
        <link rel="icon" type="image/png" href="/site/favicon.ico">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        {% if "timezone" not in request.session or True %}
            <script>
                var date = new Date();
                document.cookie ="offset=" + date.getTimezoneOffset().toString() + ";";
            </script>
        {% endif %}
        <script>
            function set_cookie(name, value, days) {
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime()+(days*24*60*60*1000));
                    var expires = "; expires="+date.toGMTString();
                }
                else {
                    var expires = "";
                }
                document.cookie = name+"="+value+expires+"; path=/";
            }

            function read_cookie(name) {
                name = name + "=";
                var ca = document.cookie.split(';');
                for (var i=0; i < ca.length; i = i + 1) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') {
                        c = c.substring(1,c.length);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length,c.length);
                    }
                    
                }
                return null;
            }

            function toggle_banner() {
                var show_banner = read_cookie("show_banner");
                if (show_banner === null) {
                    set_cookie("show_banner", "false", 365*20);
                    show_banner = false;
                }
                else {
                    set_cookie("show_banner", show_banner !== "true", 365*20);
                    show_banner = show_banner !== "true";
                }
                if (show_banner) {
                    var display = "block";
                }
                else {
                    var display = "none";
                }
                $("#banner").children("a").first().css("display", display);
            }
        </script>

        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {% block header %}
            <span class="top_header clearfix">
                <span class="top_button">
                    <a href="/">{% trans "Home" %}</a>
                </span>
                <span class="top_button">
                    <a href="/games/">{% trans "Games" %}</a>
                </span>
                <span class="top_button">
                    <a href="/forums/">{% trans "Forums" %}</a>
                </span>
                <span class="top_button">
                    <a href="/igalcon/">iGalcon</a>
                </span>
                <span class="top_button">
                    <a href="/fusion/">Fusion</a>
                </span>
                <span class="top_button">
                    <a href="http://www.zazzle.com/igalcon/">Store</a>
                </span>
                <span class="top_button">
                    <a href="/support/">{% trans "Support" %}</a>
                </span>
                <span style="float: left; margin-left: 4%">
                    <a href="http://www.twitter.com/galcon/" class="none">
                        <img src="{% static 'twitter_logo_header.png' %}" style="padding-top:4px;"/>
                    </a>
                </span>
                <span class="top_button" id="your_profile">
                    {% if user.is_authenticated %}
                        <a href="/users/{{user.username}}/">{% trans "Your Profile" %}</a>
                    {% else %}
                        <a href="/register/">{% trans "Create Account" %}</a>
                    {% endif %}
                </span>
                <span class="top_button">
                    {% if user.is_authenticated %}
                        <a href="/logout/">{% trans "Logout" %}</a>
                    {% else %}
                        <a href="/login/">{% trans "Login" %}</a>
                    {% endif %}
                    
                </span>
            </span>
            <div id="banner">
                <a href='http://www.kickstarter.com/projects/philhassey/galcon-2-galactic-conquest' target='_blank' style="{% if show_banner == "false" %}display: none{% endif %}" >
                    <img class="banner" src='{% static "ks_finale.jpg" %}' border=0 />
                </a>
                <button style="position: absolute; top: 0; right: 0;" onclick="toggle_banner()">
                    X
                </button>
            </div>
        {% endblock %}
        {% block after_header %}{% endblock %}
        <div class="main">
            {% block content %}{% endblock %}
        </div>

        <br/>
        
        {% block footer %}
            <div class="footer">
                <a href='/chat/enable/'>{% trans "Enable Constant Chat" %}</a>

                <br/>
                <br/>
                
                <span style="font-size: .75em">
                    Copyright &copy; 2013
                    <a href='http://www.philhassey.com/'>Phil Hassey</a>.
                    All rights reserved.
                    | <a href='/rss/'>{% trans "RSS Feed" %}</a>
                    | <a href='/support/'>{% trans "Contact Us" %}</a>
                    | <a href='/policy/'>{% trans "Our Policies" %}</a>
                </span>
            </div>
        {% endblock %}
    </body>
</html>
        
