body {
    background-color: #000000;
    background-image: url("/site/bg2.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 61% auto;
    color: #FFFFFF;
    width: 56.5%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.main {
    width: 100%;
}

body, p, form, td, th, div, span, ol, ul, li, a, h1, h2, h3, h4, h5 {
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

#banner {
    position: relative;
    min-height: .75em;
}

img.banner {
    width: 100%;
}

.top_button, .forum_button {
    padding: 0px 10px 0px 10px;
    float: left;
    display: inline-block;
    margin: 10px 0px 10px 0px;
}

.top_button:last-child, .forum_button:last-child {
    float: none;
}

#community_button {
    color: #000000;
    background-color: #55aaff;
    border: 2px solid #003366;
    width: 13%;
    text-align: center;
}

.forum_button {
    width: 14%;
}

.top_button {
    width: 7%;
    font-size: .7em;
    text-align: center;
}

a {
    text-decoration: none;
}
.forum_button a:hover, .top_button a:hover {
    background-image: url("/site/fade2.png");
    color: #ffffff;
    border: .09em solid #555555;
    text-decoration: none;
}

.forum_button a, .top_button a, .forum_button a:visited, .top_button a:visited {
    color: #ffffff;
    display: block;
    background-image: url("/site/fade1.png");
    background-size: cover;
    padding: .42em;
    border: .09em solid #555555;
    text-align: center;
}

.forum_button a {
    font-size: .9em;
}

a.breadcrumb {
    color: #FFFFFF;
}

a.breadcrumb:hover {
    text-decoration: underline;
}

a.breadcrumb:visited {
    color: #FFFFFF;
}

a {
    color: #FFBB33;
    font-weight: bold;
}

a:visited {
    color: #33bbff;
}

form a, formlike_block a {
    color: #00aaff;
}

#forum a:hover {
    text-decoration: underline;
}

table.header {
    
}

#forum th, #forum td {
    padding: .8em;
}

#forum {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    border-collapse: collapse;
}

.forum_wrapper {
    width: 87%;
    margin-left: auto;
    margin-right: auto;
}

/*The duplication is to avoid css specificity issues (without ".children >"
in the second rule, .children > td beats it)*/
.children > td:first-child, .children > td.left_aligned, .left_aligned {
    text-align: left;
}

#forum a:not(:visited), #forum tr > td:first-child a:visited {
    color: #FFBB33;
}

.children > td, #forum tr td > .title {
    text-align: center;
}

td.profile {
    text-align: center;
    vertical-align: top;
    max-width: 20%;
}

body, p, form, td, th, div, span, ol, ul, li, a, h1, h2, h3, h4, h5 {
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
h2 a {
    font-weight: normal;
}

body, p, form, td, th, div, span, ol, ul, li {
    font-size: .94em;
}

.action_link {
    float:right;
    padding-right: 1%;
}

td.title {
    text-align: center;
}

.edit_note {
    text-align: center;
    font-style: italic;
}

img.avatar {
    max-height: 100px;
    max-width: 100px;
}

#your_profile {
    width: 12%;
}
form:not(.hidden), .formlike_block:not(.hidden) {
    background-color: #FFFFFF;
    width: 550px;
    padding: 6px;
    clear: both;
    color: #000000;
}

#find_group {
    float: right;
    margin-right: 4%;
}

form {
    line-height: 32px;
}

#login_form label, #register_form label, #edit_profile_form label {
    display:block;
    float: left;
}

#edit_profile_form label {
    width: 98px;
}

#login_form label {
    width: 85px;
}

#register_form label{
    width: 132px;
}

label.inline {
    display: inline !important;
    width: auto !important;
    float: none !important;
}

form.inline {
    background-color: transparent;
    width: auto;
    clear: none;
    color: inherit;
    padding: inherit;
    display: inline;
}

#mailbox {
    color: #00AAFF;
    width: 85.36%;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#mailbox > div {
    display: table-cell;
}

#left_mail_column {
    background-color: #FFFFFF;
    width: 17.14%
}

#left_mail_column a {
    display: block;
}

#right_mail_column {
    background-color: #CCDDEE;
    width: 82.86%;
    padding: 1%;
}

ol#message_list {
    padding: 0px;
    list-style-type: none;
    border-style: solid;
    border-width:  1px;
    border-color: #000000;
    display: table;
    width: 100%;
}

li.message {
    background-color: #DDDDDD;
    display: table-row;
    width: 100%;
    border-bottom: 1px solid #000000;
}

li.message .author {
    color: #000000;
}

li.message > * {
    display: table-cell;
}

li.message > *:last-child {
    text-align: right;
}

form.inline {
    padding: 0px;
}

/*.clearfix {
    display: inline-block;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}*/
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.error {
    border: 2px solid #FFAAAA;
    background-color: #AA0000;
    color: #FFFFFF;
    padding: 4px;
    font-weight: bold;
}

th {
    background-image: url("/site/fade1.png");
}

td {
    background-image: url("/site/fade2.png");
}

textarea {
    width: 37em;
    height: 13em;
}

div.profile, span.profile {
    float: left;
}
.trophy_list {
    width: 120px;
    list-style: none;
    line-height: normal;
    clear: both;
    display: inline;
}

.trophy {
    width: 95px;
    text-align: center;
    float: left;
}

img.trophy_image {
    height: 66px;
    width: 67px;
}
#chat_window {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#chat_window > * {
    float: left;
}

#messages {
    background-color: #FFFFFF;
    color: #000000;
    height: 400px;
    width: 75%;
    padding: 5px 0px;
    overflow: auto;
}

#player_list {
    width: 22%;
    height: 400px;
    background-color: #DDDDDD;
    padding: 5px 4px;
}

#newmessage {
    width: 100%;
    background: transparent;
    padding: 0px;
}

#newmessage #messageinput {
    width: 73%;
}

#newmessage #send_button {
    width: 23%;
}

#messages .message {
    display: table-row;
}

#messages .message > * {
    display: table-cell;
    padding: 0px 0px 0px 5px;
}

.time {
    color: #AAAAAA;
    white-space: nowrap;
}
